@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

/*Website title style*/
#title {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  position: relative;
  margin: 60px;
}
/*Responsiveness for website title*/
@media all and (max-width: 640px) {
  #title {
    display: flex;
    font-size: 50px;
  }
}

/*Navigation bar*/
nav {
  font-size: 25px;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: space-around; */
}

nav ul li {
  cursor: pointer;
  padding: 0.5rem;
  flex: auto;
  text-align: center;
}

nav ul li:hover {
  background-color: grey;
}

/*Navigation bar responsiveness*/
@media all and (max-width: 640px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
  }
  nav {
    font-size: 30px;
  }
}

/*Style for headline and image on the home page*/
#headline {
  text-align: center;
  margin: 30px;
  margin-bottom: -20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/*Responsiveness for image in the center of home page*/
@media only screen and (max-width: 768px) {
  .center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }
}

/*Introductory text style*/
#introduction {
  margin-bottom: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#intro {
  min-height: 5vh;
  line-height: 100%;
  max-width: 950px;
  margin: 30px;
  padding: 30px;
  background: beige;
  border: 1px solid black;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: justify;
  border-radius: 2em;
  font-size: clamp(14px, 5vw, 22px);
  word-spacing: 2px;
  font-family: Garamond;
}

/*Responsiveness for the introductory text*/
@media only screen and (max-width: 768px) {
  #intro {
    max-height: 50em;
    width: 80%;
    font-size: 120%;
    word-spacing: normal;
  }
}

/*Headline for the timeline*/
.headline {
  text-align: center;
  position: relative;
  width: 100%;
  top: 0;
  background-color: black;
}

/*Timeline style */
/*Container style */
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  background-color: white;
}

/*Timeline sizing and position */
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

/*Removed bullet points*/
.timeline ul {
  list-style: none;
}

/*Style for list items*/
.timeline ul li {
  padding: 20px;
  background-color: beige;
  color: black;
  border-radius: 10px;
  margin-bottom: 20px;
}

/*Rule for the margin bottom for the last element as there is no other element after that */
.timeline ul li:last-child {
  margin-bottom: 0;
}

/*Content style for h2 and p */
.timeline-content h2 {
  font-size: 20px;
  font-weight: 750;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  font-family: Garamond;
}

/*Responsiveness of home page & timeline shape and style*/
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 88%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-70px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(70px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: beige;
  }
}

/*Body elements style*/
h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

/*Quotes page style*/
.blockquote {
  max-width: 600px;
  margin: 10px;
  padding: 25px;
  background: beige;
  border: 1px solid black;
  color: black;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.blockquote--bordered {
  border-left-width: 12px;
}

.blockquote--quoted::before {
  content: "\201c";
  font-size: 100px;
  color: black;
  display: block;
  margin-bottom: -40px;
  margin-top: -20px;
}

.blockquote__text {
  font-family: "Helvetica Neue", sans-serif;
  font-style: italic;
  line-height: 1.5;
  font-size: 1.15em;
  margin: 0;
}

.blockquote__text:not(:last-child) {
  margin-bottom: 1em;
}

/*Responsiveness for quote boxes*/
@media only screen and (max-width: 768px) {
  .blockquote {
    display: flex;
    font-size: 3vw;
    width: 80%;
  }

  .blockquote--quoted::before {
    display: flex;
    font-size: 8vw;
  }
}

/*The frameborder attribute*/
iframe {
  border-width: 0px;
}

/*Newsletter form style*/
.newsletter {
  background-color: rgb(211, 211, 211);
  text-align: center;
  max-width: 900px;
  padding: 30px 30px;
  border-radius: 3px;
  color: black;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 2.5em;
}

.newsletter hr {
  width: 500px;
  height: 2px;
  margin: 5px auto;
  border: 0;
  background: black;
}

.newsletter p {
  font-size: 25px;
  line-height: 60px;
  color: black;
}

.newsletter input {
  border-radius: 3px;
  background-color: black;
  width: 30%;
  height: 50px;
  border: 0px;
  padding: 0 20px;
  color: white;
  margin-bottom: 5px;
  outline: none;
  box-sizing: border-box;
  font-size: 20px;
}

::placeholder {
  color: white;
  font-size: 22px;
}

.email {
   margin-top: 10px;
  }

.newsletter button {
  border: 3px solid black;
  border-radius: 3px;
  height: 40px;
  background-color: transparent;
  color: black;
  padding: 1px 10px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}

.newsletter button:hover {
  background-color: beige;
  border-color: black;
}

/*Newsletter responsiveness for smaller screens*/
@media only screen and (max-width: 768px) {
  .newsletter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 70%;
    margin-bottom: 10%;
  }

  .newsletter input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .newsletter p {
    display: flex;
    font-size: 100%;
    justify-content: center;
  }

  ::placeholder {
    color: white;
    font-size: 90%;
    justify-content: center;
  }

  .newsletter button {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 100px;
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 20px;
  }

  .newsletter hr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: black;
    }

  .email {
    display: flex;
    justify-content: center;
    }
}

@media only screen and (min-width: 510px) {
  .newsletter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 60%;
    margin-bottom: 10%;
  }

  .newsletter button {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 105px;
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 20px;
  }
}

/*Media page style*/
#documentaries {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5%;
  text-align: center;
  min-height: 5vh;
  max-width: 990px;
  margin-top: 20px;
  padding: 5px;
  background: beige;
  border: 1px solid black;
  color: black;
  box-sizing: content-box;
  text-align: center;
  border-radius: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: clamp(22px, 6vw, 38px);
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 90%;
  border: 10px solid black;
}

/*Media page responsiveness*/
@media only screen and (max-width: 767px) {
  #documentaries {
    max-height: 80em;
    width: 90%;
    font-size: 160%;
    margin-top: 15px;
  }
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
iframe {
  width: 50%;
  margin: auto;
}

/*Footer style*/
footer {
  clear: both;
  position: relative;
  background-color: black;
  height: 100%;
  text-align: center;
  padding: 30px 30px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  justify-content: center;
  text-align: center;
  display: inline;
  width: 100%;
}

.social-networks i {
  font-size: 30px;
  margin: 2%;
  padding: 10px 1;
  color: white;
  text-align: center;
  display: inline-block;
}

/* Adds a hover effect to social media icons*/
.social-networks a:hover {
  opacity: 0.6;
}

/* Copyright text at the end of the footer*/
.copyright {
  color: white;
  font-size: 150%;
}

/*Footer responsiveness for smaller screens*/
@media screen and (max-width: 767px) {
  .footer {
    flex: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .social-networks i { 
    display: inline-block;
  }
}
